<div class="publisher-activity-item">
    <template>
        <div class="publisher-activity-item__meta">
            <sw-loader v-if="isLoading"></sw-loader>
            <template v-else-if="log.user">
                <sw-avatar
                    class="publisher-activity-item__meta-user"
                    :imageUrl="log.user.avatar"
                    :firstName="log.user.firstName"
                    :lastName="log.user.lastName"
                ></sw-avatar>

                <b>{{ userName }}</b>
                <div class="publisher-activity-item__meta-date">{{ getDateString(log.updatedAt || log.createdAt) }}</div>
            </template>
            <div
                class="publisher-activity-item__meta-badge"
                :class="isMainLayoutEntry ? 'publisher-activity-item__meta-badge--main' : ''"
            >
                <sw-icon
                    size="14"
                    :name="getBadgeIcon()"
                ></sw-icon>

                {{ getBadgeType() }}
            </div>
        </div>

        <div
            v-if="log.isMerged || log.isDiscarded"
            class="publisher-activity-item__description"
            v-html="getBadgeMessage()"
        >
        </div>
        <div v-else>
            <div
                @click="onClickLayoutName(log)"
                class="publisher-activity-item__name"
                :class="canNavigate ? 'publisher-activity-item__name--link' : ''"
            >
                {{ getDraftName() }}

                <sw-icon
                    name="small-eye"
                    size="16"
                ></sw-icon>
            </div>
            <div
                v-if="log.details && log.details.length"
                class="publisher-activity-item__changes"
            >
                <div
                    class="publisher-activity-item__changes--toggle"
                    :class="showDetails ? 'active' : ''"
                    @click="onClickDetails"
                >
                    {{ $tc('publisher.activity.feed.' + (showDetails ? 'hideDetails' : 'showDetails')) }}

                    <sw-icon name="small-arrow-small-down"></sw-icon>
                </div>

                <div v-if="showDetails">
                    <div
                        v-for="detail in log.details"
                        class="publisher-activity-item__changes--detail"
                        @mouseenter="onDetailMouseEnter(detail.id)"
                        @mouseleave="onDetailMouseLeave(detail.id)"
                    >
                        <sw-icon :name="getDetailIcon(detail.operation)"></sw-icon>

                        {{ getDetailSnippet(detail) }} <i>{{ detail.name }}</i>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
